@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", cursive;
  --primary-white-color: #ffffff;
  --lable-color: #000000;
  --cubic-beziar: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-family: var(--main-font);
  background-color: var(--primary-white-color);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  display: block;
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

header, footer, section {
  display: none;
}

.block {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section--on-desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--on-desktop {
    display: block;
  }
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/* Спрятанный заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #F5F5F5;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo__dark {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--lable-color);
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.navigation__link {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: block;
  position: relative;
  transition: color 250ms var(--cubic-beziar);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link:hover::after {
  transform: scaleX(1);
}
.navigation__link--current:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  position: absolute;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation__link--current {
  color: var(--accent-color);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.no-current {
  position: relative;
}

.connect {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    flex-direction: row;
    align-items: baseline;
  }
}

.header__connect {
  margin-left: auto;
}

.indent {
  margin-right: 30px;
  padding-top: 21px;
  margin-right: 15px;
}

.connect__contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubic-beziar);
  padding-bottom: 21px;
}

.envelope {
  margin-right: 50px;
  margin-right: 10px;
  fill: currentColor;
}

.header-btn-open {
  top: 10px;
  margin-left: auto;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 767px) {
  .header-btn-open {
    display: none;
  }
}

.mob-menu {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
}

.mob-menu.is-open {
  position: fixed;
  background-color: #F5F5F5;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 48px;
  padding-bottom: 48px;
  transform: translateY(0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: space-between;
}

.menu-btn-close {
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-btn-close:focus {
  fill: var(--accent-color);
  transition-property: color;
  transition: transform 250ms var(--cubic-beziar);
}

.mob-menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--lable-color);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 33px;
}

.menu-connect {
  margin-left: 40px;
  margin-top: auto;
}

.menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-top: 32px;
  margin-bottom: 64px;
}

.menu-connect-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-networks {
  display: flex;
  margin-left: 40px;
}

.menu-networks-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.menu-networks-link:last-child {
  margin: 0;
}

.menu-item::after {
  content: "";
  width: 22px;
  height: 0;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2F303A;
  max-width: 1600px;
}

.hero__overlay {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-bg-mob.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img/hero-bg-mob.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-mob-2x.jpg");
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-mob-2x.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-tab.jpg");
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-tab.webp");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-tab-2x.jpg");
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-tab-2x.webp");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-desk.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-img/hero-bg-desk-2x.jpg");
  }
}

.hero__title {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-right: auto;
  margin-left: auto;
}

.button {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
}

.benefits-container {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .benefits-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .features {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .features {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .features {
    text-align: center;
  }
}

.features-item {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.features-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section--skills {
  padding-top: 0;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section__pre-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
}

.about {
  gap: 30px;
  display: flex;
}

.about__item {
  position: relative;
  display: flex;
}

.about__text {
  position: absolute;
  box-sizing: border-box;
  display: block;
  float: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__text:not(:last-child) {
  margin-right: 30px;
}

.section-title-bg {
  background-color: #F5F4FA;
}

.team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (max-width: 1199px) {
  .team {
    font-size: 28px;
    line-height: 1.17;
  }
}

.site-item {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .site-item {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-command {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .site-command {
    flex-basis: calc((100% - 90px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .site-command {
    flex-basis: calc((100% - 90px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .site-command {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.tim-card {
  text-align: center;
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .tim-card {
    text-align: center;
  }
}

.tim-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  align-items: center;
}

.tim-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
  align-items: center;
}

.tim-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  color: #AFB1B8;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-position: center;
  border-radius: 50px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-beziar);
}
.team-link:hover, .team-link:focus {
  background-color: #2196f3;
  color: #ffffff;
  transition: color 250ms var(--cubic-beziar);
}

.button-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
  transition: fill 250ms var(--cubic-beziar);
}
.button-icon:not(:last-child) {
  padding-right: 10px;
}

.clients-header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 1199px) {
  .clients-header {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-container {
  gap: 30px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
}

.clients-item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
@media screen and (max-width: 767px) {
  .clients-item {
    text-align: center;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: rgb(175, 177, 184);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-beziar);
}
.clients-link:hover, .clients-link:focus {
  border-width: 1px;
  border-style: solid;
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.features-logo {
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
  transition: fill 250ms var(--cubic-beziar);
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic-beziar);
  visibility: visible;
  outline: 1px solid var(--accent-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
@media screen and (width: 768px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--cubic-beziar), visibility 250ms var(--cubic-beziar);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-modal {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}
.form-field input {
  margin: 0;
  padding: 6px 40px 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
}
.form-field label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-field input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-name {
  position: absolute;
  top: -15%;
  left: 15px;
  transform: translateY(220%);
}
.form-label:hover + .modal-name, .form-label:focus + .modal-name {
  fill: var(--accent-color);
}

.form-label:hover,
.form-label:focus {
  border-color: var(--accent-color);
}

textarea {
  resize: none;
  padding: 12px;
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}
.btn-close:focus {
  fill: var(--accent-color);
  transition-property: color;
  transition: transform 250ms var(--cubic-beziar);
}

.galk {
  display: flex;
  align-items: center;
}

.topic-options {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-label {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: background-color 250ms var(--cubic-beziar), border-color 250ms var(--cubic-beziar);
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox:focus + .checkbox-label {
  background-color: var(--accent-color);
}

.icon-galk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid var(--lable-color);
  margin-right: 8px;
}
.checkbox:checked + .checkbox-label .icon-galk {
  border-color: var(--accent-color);
  background-origin: border-box;
}
.checkbox:checked + .icon-galk {
  border-color: var(--accent-color);
  background-origin: border-box;
  background-color: var(--accent-color);
}

.icon-check {
  fill: transparent;
  transition: fill 250ms var(--cubic-beziar);
}

.contract {
  color: var(--accent-color);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-link {
  text-decoration: none;
}

.portfolio-overlay-text {
  background-color: var(--accent-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding-top: 63px;
  padding-left: 24px;
  opacity: 250ms var(--cubic-beziar);
  color: var(--primary-white-color);
  transition-property: color;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-beziar);
}
.portfolio-card-link:hover .portfolio-overlay-text, .portfolio-card-link:focus .portfolio-overlay-text {
  transform: translate(0);
}
@media screen and (max-width: 480px) {
  .portfolio-overlay-text {
    width: 402px;
  }
}

.text-pictures {
  border: 1px solid #EEEEEE;
  background: var(--primary-white-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .portfolio-topics {
    font-weight: 700;
    width: 402px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-topics {
    width: 306px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-topics {
    width: 322px;
  }
}

.thems-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.flex-container {
  gap: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.flex-element {
  width: 450px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .flex-element {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-element {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .flex-element {
    flex-basis: calc((100% - 90px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .flex-element {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-card-link {
  display: block;
  transition-property: box-shadow;
  transition: 250ms var(--cubic-beziar);
}
.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .filter {
    flex-wrap: wrap;
    row-gap: 8px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}

.menu-distance:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-beziar);
}

.focus-menu:hover,
.focus-menu:focus {
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.address-container {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-container {
    display: block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-container {
    text-align: start;
  }
}

.contact-footer {
  margin-top: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.tel-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition: color 250ms var(--cubic-beziar);
}

.style-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.street {
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.item-with {
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-link-soc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-beziar);
}
.footer-link-soc:not(:last-child) {
  margin-right: 22px;
}
.footer-link-soc:hover, .footer-link-soc:focus {
  background-color: rgb(33, 150, 243);
}

.footer-letter {
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-letter {
    flex-wrap: wrap;
  }
}
.container-networks {
  flex-direction: row;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .container-networks {
    display: block;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container-networks {
    text-align: start;
  }
}

.text-action {
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .text-action {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .text-action {
    margin-top: 0;
    text-align: start;
  }
}

.text-box {
  display: flex;
  width: 570px;
  flex-direction: row;
  justify-content: space-between;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2784px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgb(47, 48, 58);
}
.text-box input:focus {
  border-color: var(--accent-color);
}

.fotter-imput-bt {
  display: flex;
}

.send-letter {
  position: relative;
  padding: 10px 28px;
  margin-left: 10px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.subscription {
  align-items: flex-end;
  gap: 0;
}
@media screen and (min-width: 768px) {
  .subscription {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
  }
}

.footer-letter-br {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-letter-br input {
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer-letter-br {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-letter-br {
    flex-direction: row;
  }
}

.subscription-button {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription-button {
    margin-top: 0;
  }
}

.text-box:focus {
  border-color: var(--accent-color);
}

.footer-letter-icon {
  margin-left: 10px;
}

.lable {
  color: var(--primary-white-color);
}

.button-icon-ft {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=main.css.map */