body {
    margin: 0;
    font-family: 'Roboto';
    font-family: var(--main-font);
    background-color: var(--primary-white-color);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    display: block;

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

