:root {
    --accent-color: #2196f3;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', cursive;
    --primary-white-color: #ffffff;
    --lable-color: #000000;
    --cubic-beziar: cubic-bezier(0.4, 0, 0.2, 1);
    --bg-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}