.header {
    border-bottom: 1px solid #F5F5F5;
}

.header__container {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header__logo {
@media screen and (min-width: 768px) {
    margin-right: 88px;
}
    
@media screen and (min-width: 1200px) {
    margin-right: 93px;
    }
}

.logo__dark {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--lable-color);
}

.navigation__list {
    display: none;
@media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;  
}
}

.navigation__link {
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: block;
    position: relative;
    transition: color 250ms var(--cubic-beziar);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &:hover::after {
    transform: scaleX(1);
    }
    &--current:after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        position: absolute;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.navigation__link--current {
    color: var(--accent-color);
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.no-current {
    position: relative;
}

.connect {
    display: none;
@media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
}
}

.header__connect {
    margin-left: auto;
}

.indent {
    margin-right: 30px;
    padding-top: 21px;
    margin-right: 15px;
  
}

.connect__contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms var(--cubic-beziar);
    padding-bottom: 10px;
}

.connect__contact:not(:last-child) {
    padding-bottom: 21px;
}

.envelope {
    margin-right: 50px;
    margin-right: 10px;
    fill: currentColor;
}

.header-btn-open {
    top: 10px;
    margin-left: auto;
    border: none;
    background-color: transparent;
@media screen and (min-width: 767px) {
    display: none;
}
}

.mob-menu {
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: auto;
}

.mob-menu.is-open {
   position: fixed; 
   background-color: #F5F5F5;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100vw;
   padding-top: 48px;
   padding-bottom: 48px;
   transform: translateY(0);
   height: 100vh;
   display: flex;
   flex-direction: column;
   margin-top: auto;
   justify-content: space-between;
} 

.menu-btn-close {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:focus {
            fill: var(--accent-color);
            transition-property: color;
            transition: transform 250ms var(--cubic-beziar);
        }
}

.mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--lable-color);
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 33px;
}

.menu-connect {
    margin-left: 40px;
    margin-top: auto;
}

.menu-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-top: 32px;
    margin-bottom: 64px;

}

.menu-connect-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    //  margin-top: 302px;
}

.menu-networks {
    display: flex;
    margin-left: 40px;
}

.menu-networks-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
     color: var(--accent-color);
&:last-child {
    margin: 0;
}
}

.menu-item::after {
    content: "";
    width: 22px;
    height: 0;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
}

.menu-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}