
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}

.hero__overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/w4/Img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__button {
    margin-right: auto;
    margin-left: auto;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: transparent;
}