.clients-header {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
@media screen and (min-width: 1199px) {
    font-size: 36px;
    line-height: 1.16;
}
}
.clients-container {
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
}

.clients-item {
    // height: 92px;
    flex-basis: calc((100% - 30px) / 2);

@media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
}

@media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 150px) / 6);
}

@media screen and (max-width: 767px) {
        text-align: center;
}
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    color: rgba(175, 177, 184, 1);
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-beziar);
    &:hover,
    &:focus {
        border-width: 1px;
        border-style: solid;
        border-color: var(--accent-color);
        color: var(--accent-color)
    }
}

.features-logo {
    width: 106px;
    // height: 60px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms var(--cubic-beziar);
    fill: currentColor;
}